aiogram==2.25.1  # Фреймворк для Telegram-бота
SQLAlchemy==2.0.23  # ORM для работы с базой данных
alembic==1.12.0  # Для миграций базы данных (опционально)
python-dotenv==1.0.0  # Для загрузки переменных окружения (.env)
apscheduler==3.10.1  # Для планирования напоминаний
openpyxl==3.1.2  # Для генерации отчетов в Excel